<color-rotation>
	<div style="{{%styles.bar, styles.rotation, styles.color}}"></div>
	<script>
		({
			props: {
				degree: 0
			},
			render: function() {
				this.setProps('degree', (this.props.degree + 2) % 360);
			},
			mount: function() {
				this.props.degree = parseInt(this.getAttribute('degree') || '0', 10);
			},
			styles: {
				bar: {
					width: 50,
					height: 5,
					position: 'absolute',
					display: 'inline-block',
					borderRadius: 5
				},
				rotation: {
					transform: function() {
						return 'rotateZ(' + this.props.degree + 'deg)';
					}
				},
				color: {
					background: function() {
						return 'hsl(' + this.props.degree + ', 100%, 50%)';
					}
				}
			}
		})
	</script>
	<style>
		:host {
			display: inline-block;
			width: 10px;
		}
	</style>
</color-rotation>