<my-new-tag>
	<div>This is some content: {{test}}</div>
	<p>Counting: {{props.test}}</p>

	<script>
		({
			props: {
				test: 0,
				tasks: []
			},

			render: function() {
				if (!this.querySelector('a')) {
					var x = document.createElement('a');
					x.innerHTML = 'hallo';
					x.href = "test";
					this.querySelector('div').appendChild(x);
				}
			},
			mount: function() {
				this.interval = setInterval(function() {
					this.setProps('test', this.props.test + 1);
				}.bind(this), 1000);
			},
			unmount: function() {
				clearInterval(this.interval);
				alert('unmounting!');
			}
		})
	</script>
	<style>
		:host {
			display: block;
			background: red;
		}
	</style>
</my-new-tag>
