<second-tag>
	<div style="{{%styles.button, styles.link}}">Hallo, {{me}}<a name="test">{{props.name}}</a></div>

	<todo-list data-list="{{+props.list}}"/>

	<script data-src="./second-tag.js">
(function() {
	'use strict';

	Zino.import('./todolist.html');

	/*jshint esnext:true*/
	return {
		props: {
			color: 'white',
			list: [{
				test: 123,
				me: "Hallo",
				x: {
					huhu: "ja",
					fn: function() { console.log(arguments); }
				},
				y: [1, 2, 3, 4]
			}]
		},

		styles: {
			button: {
				backgroundColor: 'green',
				border: '1px solid darkgreen',
				fontFamily: 'Arial'
			},

			link: function () {
				return {color: this.props.color};
			}
		}
	};
}());
</script>
	<link rel="stylesheet" href="./second-tag.css"/>
</second-tag>
